# service dependencies for 'sql02-vm-prd.bmit.local'
define servicedependency {
        host_name sql02-vm-prd.bmit.local
        service_description MySQL running
        dependent_host_name sql02-vm-prd.bmit.local
        dependent_service_description MySQL Performance Counters.*,Slave Replication.*,INNODB engine status.*,Check MySQL processes.*,Check MySQL threads.*,Slave Replication Delay.*
        execution_failure_criteria n
        notification_failure_criteria w,c
}

# service dependencies for 'sql02-vm-prd.bmit.local'
define servicedependency {
        host_name sql02-vm-prd.bmit.local
        service_description Check NRPE
        dependent_host_name sql02-vm-prd.bmit.local
        dependent_service_description MySQL running.*
        execution_failure_criteria n
        notification_failure_criteria w,c
}
